mixin table(data)
  table.table&attributes(attributes)
    tr.table__row
      th.table__item.table__item--header.table__item--number Место
      th.table__item.table__item--header.table__item--title ФОИВ (Ответственный)
      th.table__item.table__item--header.table__item--stat ИИ-зрелость (РАНХИГС, МЦ)
      th.table__item.table__item--header.table__item--stat Дата-сеты (МЦ)
      th.table__item.table__item--header.table__item--overall Итоговый бал
    tr.table__row.table__row--first
      td.table__item.table__item--number 1
      td.table__item.table__item--title ФНС
      td.table__item.table__item--stat 4,5
      td.table__item.table__item--stat 4
      td.table__item.table__item--overall 8,5
    tr.table__row
      td.table__item.table__item--number 2
      td.table__item.table__item--title Роструд
      td.table__item.table__item--stat 4,5
      td.table__item.table__item--stat 4
      td.table__item.table__item--overall 8,5
    tr.table__row
      td.table__item.table__item--number 3
      td.table__item.table__item--title Росгидромет
      td.table__item.table__item--stat 4
      td.table__item.table__item--stat 4
      td.table__item.table__item--overall 8
    tr.table__row
      td.table__item.table__item--number 4
      td.table__item.table__item--title Росстат
      td.table__item.table__item--stat 3,5
      td.table__item.table__item--stat 4
      td.table__item.table__item--overall 7,5
    tr.table__row
      td.table__item.table__item--number 5
      td.table__item.table__item--title Россельхознадзор
      td.table__item.table__item--stat 4
      td.table__item.table__item--stat 3
      td.table__item.table__item--overall 7
    tr.table__row
      td.table__item.table__item--number 6
      td.table__item.table__item--title МЧС
      td.table__item.table__item--stat 4,5
      td.table__item.table__item--stat 2
      td.table__item.table__item--overall 6,5
    tr.table__row
      td.table__item.table__item--number 7
      td.table__item.table__item--title Минюст
      td.table__item.table__item--stat 3,5
      td.table__item.table__item--stat 3
      td.table__item.table__item--overall 6,5
    tr.table__row
      td.table__item.table__item--number 8
      td.table__item.table__item--title Росаккредитация
      td.table__item.table__item--stat 4
      td.table__item.table__item--stat 2
      td.table__item.table__item--overall 6
    tr.table__row
      td.table__item.table__item--number 9
      td.table__item.table__item--title Росрыболовство
      td.table__item.table__item--stat 2
      td.table__item.table__item--stat 4
      td.table__item.table__item--overall 6
    tr.table__row
      td.table__item.table__item--number 10
      td.table__item.table__item--title Росводресурсы
      td.table__item.table__item--stat 2
      td.table__item.table__item--stat 4
      td.table__item.table__item--overall 6