mixin events-list(data)
  .events-list&attributes(attributes)
    .container.container--new
      .row
        .col-xl-3
          .events-list__top
            h3.events-list__header Мероприятия
            .events-list__top-content
              p.events-list__dscr Мероприятия по искусственному интеллекту призваны объединять лучших профессионалов в сфере для обсуждения актуальных проблем, обмена опытом и новыми инструментами для решения задач.
              a.events-list__link(href="#") Календарь мероприятий
        .col-xl-9
          .events-list__slider.events-list__slider--narrow
            +event-item({
              picture: 'event-item-1.svg',
              dscr: 'Ведущая независимая открытая конференция по искусственному интеллекту в России.'
            })
            +event-item({
              picture: 'event-item-2.svg',
              dscr: 'Серия мероприятий по искусственному интеллекту и анализу данных, проводимая ведущими российскими и международными компаниями, лидерами по разработке и применению технологий искусственного интеллекта.'
            })
            +event-item({
              picture: 'event-item-3.png',
              dscr: 'Форум стал первой в России специализированной площадкой, где разработчики и пользователи ИИ-технологий обсудили шаги по эффективному внедрению этики искусственного интеллекта в приоритетных отраслях.'
            })
            +event-item({
              picture: 'event-item-1.svg',
              dscr: 'Ведущая независимая открытая конференция по искусственному интеллекту в России.'
            })
            +event-item({
              picture: 'event-item-2.svg',
              dscr: 'Серия мероприятий по искусственному интеллекту и анализу данных, проводимая ведущими российскими и международными компаниями, лидерами по разработке и применению технологий искусственного интеллекта.'
            })
            +event-item({
              picture: 'event-item-3.png',
              dscr: 'Форум стал первой в России специализированной площадкой, где разработчики и пользователи ИИ-технологий обсудили шаги по эффективному внедрению этики искусственного интеллекта в приоритетных отраслях.'
            })
          a.events-list__link.events-list__link--mobile(href="#") Календарь мероприятий
