.slider {
  margin-top: 80px;

  @include media-breakpoint-down(md) {
    margin-top: 60px;
  }

  &__content {
    margin-left: -12px;
    width: calc(100% + 12px);

    @include media-breakpoint-down(md) {
      margin: 0;
      width: 100%;
    }

    .slick-list {
      overflow: visible;

      @include media-breakpoint-down(md) {
        overflow: hidden;
      }
    }

    .slick-track {
      display: flex;
    }

    .slick-slide {
      height: auto;
    }

    .slick-arrow {
      position: absolute;
      top: -56px;
      width: 45.23px;
      height: 16px;
      font-size: 0;
      background: url(../img/slider-arrow-dark.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(xxl) {
        top: -40px;
      }

      &.slick-prev {
        left: 12px;
        transform: rotate(180deg);

        @include media-breakpoint-down(md) {
          left: 0;
        }
      }

      &.slick-next {
        left: 98px;

        @include media-breakpoint-down(xxl) {
          left: 76px;
        }

        @include media-breakpoint-down(md) {
          left: 64px;
        }
      }
    }

    &--overflow {
      padding-top: 56px;
      overflow: hidden;

      .slick-arrow {
        top: 0;

        @include media-breakpoint-down(md) {
          top: 20px;
        }
      }
    }

    &--two {
      margin-left: -12px;
      width: calc(100% + 24px);

      @include media-breakpoint-down(md) {
        margin-left: 0;
        width: 100%;
      }
    }

    &--photo {

      @include media-breakpoint-down(md) {
        margin-left: -6px;
        width: calc(100% + 12px);
      }
    }

    &--cards {
      width: calc(100% + 24px);

      &:not(.slick-initialized) {
        display: flex;
        flex-wrap: wrap;

        .slider__item {
          width: calc(33.33% - 24px);

          @include media-breakpoint-down(xl) {
            width: calc(50% - 24px);
          }

          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }
      }

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      .slick-list {
        overflow: hidden;
      }

      .slick-track {
      }
    }

    &--new {

      .slick-list {
        overflow: hidden;
        width: calc(100% + 12px);

        @include media-breakpoint-down(xxl) {
          width: 100%;
        }
      }

      .slick-arrow {
        position: absolute;
        top: -92px;
        left: auto !important;
        width: 32px;
        height: 32px;
        font-size: 0;
        background: url(../img/slider-arrow-black.svg) no-repeat center;
        border: 1px solid $dark-new;
        border-radius: 50%;

        @include media-breakpoint-down(xl) {
          top: -36px;
          width: 24px;
          height: 24px;
          background-position: 7px center;
          background-size: 30%;
        }

        &.slick-prev {
          right: 60px;
          transform: none;

          @include media-breakpoint-down(xxl) {
            right: 72px;
          }
        }

        &.slick-next {
          right: 0;
          transform: rotate(180deg);

          @include media-breakpoint-down(xxl) {
            right: 12px;
          }
        }
      }
    }
  }

  &__item {
    margin: 0 12px;

    @include media-breakpoint-down(md) {
      margin: 0;
    }

    &.photo {

      @include media-breakpoint-down(md) {
        margin: 0 6px;
      }
    }
  }

  &--new {
    overflow: hidden;
  }

  &--cards {
    margin-top: 15px;

    @include media-breakpoint-down(xxl) {
      margin-top: 0;
    }

    @include media-breakpoint-down(xl) {
      margin-bottom: 60px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      border-radius: 16px;
      box-shadow: 0 15px 43px rgba(0, 0, 0, .1);
    }

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }

    .slick-arrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      width: 24px;
      height: 24px;
      background: url(../img/slider-blue-arrow.svg) no-repeat center;
      border-radius: 50%;
      transform: translateY(-50%);

      @include media-breakpoint-down(md) {
        width: 24px;
        height: 24px;
      }

      &.slick-prev {
        left: -20px;
        transform: translate(-50%);

        @include media-breakpoint-down(xxl) {
          left: -12px;
        }

        @include media-breakpoint-down(md) {
          left: -15px;
          transform: none;
        }
      }

      &.slick-next {
        right: -20px;
        left: auto;
        transform: rotate(180deg) translate(-50%);

        @include media-breakpoint-down(xxl) {
          right: -12px;
        }

        @include media-breakpoint-down(md) {
          right: -15px;
          transform: rotate(180deg);
        }
      }
    }
  }
}
