mixin doc(data)
  a.doc(href="#")&attributes(attributes)
    .doc__icon
    .doc__content
      p.sm.mb-5 08.11.2021
      p.lh-lg.mb-15 Указ Президента РФ от 08.11.2021 № 633 «Об утверждении Основ государственной политики в сфере стратегического планирования в Российской Федерации»
      p.sm.text-primary.mb-0 Перейти
      
