
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/front/front.pug
include ../blocks/search/search.pug
include ../blocks/section/section.pug
include ../blocks/feature/feature.pug
include ../blocks/monitor/monitor.pug
include ../blocks/info/info.pug
include ../blocks/expert/expert.pug
include ../blocks/experts/experts.pug
include ../blocks/support/support.pug
include ../blocks/calendar/calendar.pug
include ../blocks/main/main.pug
include ../blocks/select/select.pug
include ../blocks/news/news.pug
include ../blocks/field/field.pug
include ../blocks/schedule/schedule.pug
include ../blocks/partners/partners.pug
include ../blocks/event/event.pug
include ../blocks/date/date.pug
include ../blocks/footer/footer.pug
include ../blocks/updates/updates.pug
include ../blocks/menu/menu.pug
include ../blocks/navigator/navigator.pug
include ../blocks/link/link.pug
include ../blocks/divider/divider.pug
include ../blocks/direction/direction.pug
include ../blocks/institute/institute.pug
include ../blocks/tag/tag.pug
include ../blocks/slider/slider.pug
include ../blocks/card/card.pug
include ../blocks/article/article.pug
include ../blocks/back/back.pug
include ../blocks/quote/quote.pug
include ../blocks/document/document.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/auth/auth.pug
include ../blocks/cabinet/cabinet.pug

include ../blocks/item/item.pug
include ../blocks/person/person.pug
include ../blocks/winner/winner.pug
include ../blocks/report/report.pug
include ../blocks/file/file.pug
include ../blocks/filters/filters.pug
include ../blocks/center/center.pug
include ../blocks/hero/hero.pug
include ../blocks/achievement/achievement.pug
include ../blocks/content/content.pug
include ../blocks/stat/stat.pug
include ../blocks/details/details.pug
include ../blocks/advantage/advantage.pug
include ../blocks/parameters/parameters.pug
include ../blocks/parameter/parameter.pug
include ../blocks/accomplishment/accomplishment.pug
include ../blocks/note/note.pug
include ../blocks/even/even.pug
include ../blocks/doc/doc.pug
include ../blocks/modal/modal.pug
include ../blocks/organizer/organizer.pug
include ../blocks/comments/comments.pug
include ../blocks/comment/comment.pug
include ../blocks/video/video.pug
include ../blocks/photo/photo.pug
include ../blocks/stub/stub.pug
include ../blocks/table/table.pug
include ../blocks/indicators/indicators.pug
include ../blocks/circle/circle.pug
include ../blocks/part/part.pug
include ../blocks/map/map.pug
include ../blocks/university/university.pug
include ../blocks/scroller/scroller.pug
include ../blocks/loader/loader.pug
include ../blocks/sorting/sorting.pug
include ../blocks/results/results.pug
include ../blocks/finding/finding.pug
include ../blocks/country/country.pug
include ../blocks/project/project.pug
include ../blocks/view/view.pug
include ../blocks/fact/fact.pug
include ../blocks/socials/socials.pug
include ../blocks/table-grid/table-grid.pug
include ../blocks/pulse/pulse.pug
include ../blocks/indicator/indicator.pug
include ../blocks/category/category.pug
include ../blocks/category-item/category-item.pug
include ../blocks/course/course.pug
include ../blocks/news-card/news-card.pug
include ../blocks/research/research.pug
include ../blocks/uni/uni.pug
include ../blocks/ethics/ethics.pug
include ../blocks/event-item/event-item.pug
include ../blocks/partners-list/partners-list.pug
include ../blocks/categories/categories.pug
include ../blocks/courses/courses.pug
include ../blocks/news-list/news-list.pug
include ../blocks/centers/centers.pug
include ../blocks/events-list/events-list.pug
include ../blocks/link-arrow/link-arrow.pug
include ../blocks/cover/cover.pug
include ../blocks/activity/activity.pug
include ../blocks/point/point.pug
include ../blocks/dynamics/dynamics.pug
include ../blocks/page/page.pug
include ../blocks/theme/theme.pug
include ../blocks/graph/graph.pug
include ../blocks/crumbs/crumbs.pug
include ../blocks/number/number.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/leader/leader.pug
include ../blocks/about/about.pug
include ../blocks/new-quote/new-quote.pug
include ../blocks/doc-new/doc-new.pug
include ../blocks/sorting-new/sorting-new.pug
include ../blocks/card-new/card-new.pug
include ../blocks/line-header/line-header.pug
include ../blocks/project-new/project-new.pug
include ../blocks/error/error.pug
include ../blocks/sHeaderBlock/sHeaderBlock.pug
include ../blocks/sCopmanieBanner/sCopmanieBanner.pug
include ../blocks/sAntiSanctionsMeasures/sAntiSanctionsMeasures.pug
include ../blocks/sShareBlock/sShareBlock.pug
include ../blocks/sSliderBlock/sSliderBlock.pug
include ../blocks/sModal/sModal.pug