mixin sShareBlock(data)
  .sShareBlock&attributes(attributes)
    .container
      .sShareBlock__wrap
        .sShareBlock__text
          h2 Поделитесь информацией в&nbsp;социальных сетях.
          p Расскажите о&nbsp;развитии отечественного искусственного интеллекта
        .sShareBlock__links
          a(href="#") 
            img(src="./img/vk.png")
          a(href="#") 
            img(src="./img/ok.png")
          a(href="#") 
            img(src="./img/tg.png")