mixin direction(data)
  .direction&attributes(attributes)
    .direction__top
      a.direction__header(href="#")
        .direction__number= data.number
        .p.lg.direction__title= data.title
      .direction__links
        a.link(href="#") Получить грант
        a.link(href="#") Подать заявку на финансовую поддержку компаний
        a.link(href="#") Участвовать в акселераторе проектов
    .direction__content
      p.semi-transparent 569 проектов студентов, разработчиков ИИ-решений и ИИ стартапов будут поддержаны грантами на сумму до 4 млн., до 8 млн. и до 20 млн. рублей в рамках создания и развития ИИ-стартапов. Гранты будут выдаваться на разработку, применение и коммерциализацию ИИ-решений. 
      p.semi-transparent 580 ИИ-стартапов получат гранты размером до 800 тыс. рублей каждый на развитие бизнес-компетенций у команд разработчиков ИИ-решений. Грант направлен на прохождение акселерационной программы в аккредитованных акселераторах.569 проектов студентов, разработчиков ИИ-решений и ИИ стартапов будут поддержаны грантами на сумму до 4 млн., до 8 млн. и до 20 млн. рублей в рамках создания и развития ИИ-стартапов. Гранты будут выдаваться на разработку, применение и коммерциализацию ИИ-решений. 
      p.semi-transaprent 580 ИИ-стартапов получат гранты размером до 800 тыс. рублей каждый на развитие бизнес-компетенций у команд разработчиков ИИ-решений. Грант направлен на прохождение акселерационной программы в аккредитованных акселераторах.
