mixin new-quote(data)
  .new-quote&attributes(attributes)
    .new-quote__picture
      img.new-quote__picture-img(src="./img/new-quote.jpg", alt)
    h4.md.text-center.mb-20.mb-xl-40 Национальный портал станет проводником в экосистему искусственного интеллекта для граждан
    p.sm.text-dark-new.text-center Дмитрий Николаевич Чернышенко
