.input {
  padding: 0 16px;
  height: 43px;
  font-size: 16px;
  background: transparent;
  border: 1px solid #76767a;
  border-radius: 0;

  @include placeholder($gray-light);

  &:focus {
    background: transparent;
    border-color: #76767a;
    outline: none;
    box-shadow: none;
  }

  &--calendar {
    background: transparent url(../img/calendar-icon.svg) no-repeat right 16px center;

    &:focus {
      background: transparent url(../img/calendar-icon.svg) no-repeat right 16px center;
    }
  }

  &--textarea {
    padding-top: 11px;
    padding-bottom: 11px;
    height: 179px;
    line-height: 1.8;
    resize: none;
  }
}
