mixin categories(data)
  .categories&attributes(attributes)
    +category({
      picture: 'category-1.jpg',
      text: 'Поддержка  фондом «Сколково» пилотных проектов для тестирования технологий искусственного интеллекта <br><br> Поддержка Минпромторгом разработки аппаратно-программных комплексов для искусственного интеллекта'
    }).category--violet.category--dark
    +category({
      picture: 'category-1.jpg',
      text: 'Поддержка  фондом «Сколково» пилотных проектов для тестирования технологий искусственного интеллекта <br><br> Поддержка Минпромторгом разработки аппаратно-программных комплексов для искусственного интеллекта Поддержка  фондом «Сколково» пилотных проектов для тестирования технологий искусственного интеллекта <br><br> Поддержка Минпромторгом разработки аппаратно-программных комплексов для искусственного интеллекта'
    }).category--violet.category--dark
    +category({
      picture: 'category-1.jpg',
      text: 'Поддержка  фондом «Сколково» пилотных проектов для тестирования технологий искусственного интеллекта <br><br> Поддержка Минпромторгом разработки аппаратно-программных комплексов для искусственного интеллекта Поддержка  фондом «Сколково» пилотных проектов для тестирования технологий искусственного интеллекта <br><br> Поддержка Минпромторгом разработки аппаратно-программных комплексов для искусственного интеллекта Поддержка  фондом «Сколково» пилотных проектов для тестирования технологий искусственного интеллекта <br><br> Поддержка Минпромторгом разработки аппаратно-программных комплексов для искусственного интеллекта'
    }).category--violet.category--dark
    +category({
      picture: 'category-1.jpg'
    }).category--violet.category--dark
    +category({
      picture: 'category-1.jpg'
    }).category--violet.category--dark
    +category({
      picture: 'category-1.jpg'
    }).category--violet.category--dark
    +category({
      picture: 'category-1.jpg'
    }).category--violet.category--dark
