mixin updates(data)
  .updates&attributes(attributes)
    .container
      h2.text-white.mb-100.pb-xxl-90 Новости
    .updates__content
      .container
        .updates__slider
          +news({
            title: 'Цифровизация транспорта 2021. Процесс трансформации: оценка и перспективы'
          })
          +news({
            title: 'ИКТ в госсекторе 2021: жизнь в новой реальности'
          })
          +news({
            title: 'Финтех без границ. Цифровая Евразия'
          })
          +news({
            title: 'Финтех без границ. Цифровая Евразия'
          })
          +news({
            title: 'Цифровизация транспорта 2021. Процесс трансформации: оценка и перспективы'
          })
          +news({
            title: 'ИКТ в госсекторе 2021: жизнь в новой реальности'
          })
          +news({
            title: 'Финтех без границ. Цифровая Евразия'
          })
          +news({
            title: 'Финтех без границ. Цифровая Евразия'
          })
