.calendar {

  &__content {
  }

  &__event {
    position: relative;
    background: rgba($primary, .2);

    @for $i from 1 through 10 {

      &--#{$i} {

        &:after {
          position: absolute;
          right: 22px;
          bottom: 16px;
          font-size: 18px;
          line-height: 1.33;
          font-weight: 600;
          content: '#{$i}';
          color: $primary;

          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
    }
  }

  /* Datepicker */

  .ui-datepicker.ui-widget-content {
    padding: 0;
    width: 100%;
    max-width: 100%;
    background: transparent;
    border: none;
    border-radius: 0;

    @include media-breakpoint-down(sm) {
      max-width: none;
    }
  }

  .ui-widget {
    font-family: $font-family-secondary;
  }

  .ui-datepicker .ui-widget-header {
    background: transparent;
    border: solid #e4e4e4;
    border-width: 0 0 1px;
    border-radius: 0;
  }

  .ui-datepicker .ui-datepicker-header {
    position: absolute;
    top: 0;
    left: 610px;
    padding: 0;
    display: flex;
    width: 280px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-family: $font-family-secondary;
    font-size: 14px;
    color: $dark;
    border: 1px solid #d9d9de;
    border-radius: 4px;

    @include media-breakpoint-down(xl) {
      left: 450px;
      width: 200px;
    }

    @include media-breakpoint-down(md) {
      top: 120px;
      left: 0;
    }
  }

  .ui-datepicker .ui-datepicker-title {
    font-family: $font-family-secondary;
    font-size: 14px;
    font-weight: 400;
    color: $dark;
  }

  .ui-datepicker .ui-datepicker-prev span,
  .ui-datepicker .ui-datepicker-next span {
    display: none;
  }

  .ui-datepicker .ui-datepicker-prev,
  .ui-datepicker .ui-datepicker-next {
    top: 50%;
    left: 16px;
    margin-top: -7.5px;
    width: 8px;
    height: 15px;
    color: transparent;
    background: url(../img/calendar-arrow.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker .ui-datepicker-next {
    right: 16px;
    left: auto;
    transform: rotate(180deg);
  }

  .ui-datepicker th {
    padding: 16.2px 10px;
    font-size: 16px;
    font-weight: 400;
    color: #494949;
    background: #f3f3f2;

    &.ui-datepicker-week-end {
      background: #e5e5e5;

      &:last-child {
        border-radius: 0 6px 0 0;
      }
    }
  }

  .ui-state-default,
  .ui-widget-content .ui-state-default {
    padding: 0;
    display: inline-flex;
    width: auto;
    height: auto;
    font-family: $font-family-secondary;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #494949;
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  .ui-state-disabled,
  .ui-widget-content .ui-state-disabled,
  .ui-widget-header .ui-state-disabled {
    opacity: 1;
    cursor: default;
  }

  .ui-state-disabled,
  .ui-state-disabled .ui-state-default {
    opacity: 1;
    color: #c0c0c0;
  }

  .ui-state-default.ui-state-active {
  }

  .ui-datepicker td {
    padding: 14px 20px;
    height: 113px;
    vertical-align: top;
    border: 1.3026px solid #e5e5e5;

    @include media-breakpoint-down(md) {
      padding: 5px;
      height: auto;
    }
  }
}
