.advantage {
  margin-bottom: 24px;
  padding: 32px;
  display: flex;
  width: 100%;
  align-items: center;
  color: #fff;
  background: $primary;
  border-radius: 10px;

  @include media-breakpoint-down(xxl) {
    flex-direction: column;
    align-items: center;
  }

  @include media-breakpoint-down(xl) {
    padding: 20px;
  }

  &__wrapper {
    flex-grow: 1;
  }

  &__icon {
    margin-right: 56px;
    width: 88px;
    height: 88px;
    flex-shrink: 0;

    @include media-breakpoint-down(xxl) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__icon-img {
    max-width: 100%;
  }

  &__content {

    @include media-breakpoint-down(xxl) {
      width: 100%;
    }
  }
}
