mixin centers(data)
  .centers&attributes(attributes)
    .container.container--new
      h3.centers__title Исследовательские центры
      .row
        .col-xl-6.d-flex
          .centers__col.centers__col--red
            .centers__card
              p.centers__card-text В рамках реализации федерального проекта «Искусственный интеллект» национальной программы «Цифровая экономика Российской Федерации» в 2021 году проведен конкурсный отбор исследовательских центров в сфере искусственного интеллекта, в том числе в области «сильного» искусственного интеллекта, систем доверенного искусственного интеллекта и этических аспектов применения искусственного интеллекта по 14 направлениям. <br><br>В конкурсную комиссию поступило 36 заявок от российских университетов и научных организаций для участия. По результатам были отобраны 6 исследовательских центров в сфере искусственного интеллекта на базе образовательных и научных организаций.
              a.btn.btn-secondary.btn-lg-new.btn-rounded(href="#") Подробнее
        .col-xl-6.d-flex
          .centers__col.centers__col--unis
            .centers__col-content
              .row
                .col-6.col-md-4.d-flex.uni__wrapper
                  +uni({
                    logo: 'uni-1.svg',
                    title: 'Исследовательский центр в сфере искусственного интеллекта'
                  })
                .col-6.col-md-4.d-flex.uni__wrapper
                  +uni({
                    logo: 'uni-2.svg',
                    title: 'Исследовательский центр прикладных систем искусственного интеллекта'
                  })
                .col-6.col-md-4.d-flex.uni__wrapper
                  +uni({
                    logo: 'uni-3.svg',
                    title: 'Исследовательский центр межотраслевых технологий искусственного интеллекта'
                  })
                .col-6.col-md-4.d-flex.uni__wrapper
                  +uni({
                    logo: 'uni-4.svg',
                    title: 'Исследовательский центр доверенного искусственного интеллекта ИСП РАН'
                  })
                .col-6.col-md-4.d-flex.uni__wrapper
                  +uni({
                    logo: 'uni-5.svg',
                    title: 'Исследовательский центр искусственного интеллекта для задач цифровой тансформации...'
                  })
                .col-6.col-md-4.d-flex.uni__wrapper
                  +uni({
                    logo: 'uni-6.svg',
                    title: 'Исследовательский центр «Сильный искусственный интеллект в промышленности»'
                  })
              .d-xl-none
                a.link-arrow(href="#") Подробнее
    +modal({
      type: 'uni'
    }).modal--newest.modal--newest-wide#uni
