mixin partners(data)
  .partners&attributes(attributes)
    .container
      .partners__section
        p.xl.partners__section-title Федеральные органы власти
        .row
          .col-xl-2.col-lg-4.col-sm-3.col-6.d-flex
            .partners__item
              img.partners__item-logo(src="./img/partner-1.png", alt)
          .col-xl-2.col-lg-4.col-sm-3.col-6.d-flex
            .partners__item
              img.partners__item-logo(src="./img/partner-2.png", alt)
          .col-xl-2.col-lg-4.col-sm-3.col-6.d-flex
            .partners__item
              img.partners__item-logo(src="./img/partner-3.png", alt)
          .col-xl-2.col-lg-4.col-sm-3.col-6.d-flex
            .partners__item
              img.partners__item-logo(src="./img/partner-4.png", alt)
      .partners__section
        p.xl.partners__section-title Региональные органы власти
        .row
          .col-xl-2.col-lg-4.col-sm-3.col-6.d-flex
            .partners__item
              img.partners__item-logo(src="./img/partner-5.png", alt)
          .col-xl-2.col-lg-4.col-sm-3.col-6.d-flex
            .partners__item
              img.partners__item-logo(src="./img/partner-6.png", alt)
      .partners__section
        p.xl.partners__section-title Бизнес-партнеры
        .row
          .col-xl-2.col-lg-4.col-sm-3.col-6.d-flex
            .partners__item
              img.partners__item-logo(src="./img/partner-7.png", alt)
          .col-xl-2.col-lg-4.col-sm-3.col-6.d-flex
            .partners__item
              img.partners__item-logo(src="./img/partner-8.png", alt)
          .col-xl-2.col-lg-4.col-sm-3.col-6.d-flex
            .partners__item
              img.partners__item-logo(src="./img/partner-9.png", alt)
          .col-xl-2.col-lg-4.col-sm-3.col-6.d-flex
            .partners__item
              img.partners__item-logo(src="./img/partner-10.png", alt)
          .col-xl-2.col-lg-4.col-sm-3.col-6.d-flex
            .partners__item
              img.partners__item-logo(src="./img/partner-11.png", alt)
