extends ../templates/template.pug
block content
  +header.header--static.mb-40.mb-xl-65
  .container
    .article
      .row
        .col-xl-8
          .article__header
            h2.mb-45 Национальный портал в сфере искусственного интеллекта
      .row
        .col-xxl-7.col-xl-8
          p.lh-lg.semi-transparent.mb-30.mb-xl-55 Миссия портала - объединить опыт и знания в области искусственного интеллекта. Ресурс является основной площадкой для диалога между разработчиками ИИ, потребителями “больших данных” и государством. На сайте собрана самая актуальная информация о технологиях искусственного интеллекта, о механизмах развития сферы ИИ, ее правовом регулировании, а также экспертном сообществе
          .article__content
            h3.fw-light Задачи портала:
            ul
              li Проводник в экосистему Ai для граждан
              li Показывает всю картину развития ИИ в России
              li Открывает для каждого участника его собственный путь в сферу ИИ
              li Обеспечивает коммуникацию для сообщества специалистов
              li Помогает получить поддержку бизнесу, разработчикам ИИ, ученым, студентам
              li Отслеживает все изменения законодательной базы в области ИИ
              li Анализирует стремительно меняющуюся сферу ИИ в режиме реального времени
            +quote({
              content: 'Национальный портал станет проводником в экосистему искусственного интеллекта для граждан',
              author: 'Дмитрий Николаевич Чернышенко'
            }).quote--white
        .col-xl-4.offset-xxl-1
          img.d-none.d-xl-block(src="./img/article-6.jpg", alt)
  +footer
