extends ../templates/template.pug
block content
  +header.header--static
  .container
    .article
      .row
        .col-xl-7
          .article__header
            +back
            h3.mb-30 Разработка и развитие программного обеспечения, в том числе за счет поддержки стартапов и пилотных внедрений технологий ИИ
            p.mb-40.mb-xl-60 17 апр 2022
      .row
        .col-xxl-7.col-xl-8
          p.sm.lh-xl.semi-transparent.mb-30.mb-xl-55 Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст,
          .article__content
            img(src="./img/article-1.jpg", alt)
            p Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст, ежемесячный доход, профессия, место проживания, образование и пр. В числе характеристик могут быть и слабоструктурированные параметры, такие как данные из соцсетей или история покупок. Кроме того, данные можно обогатить информацией из внешних источников: курсы валют, данные кредитных бюро и т. п.
            p Машина видит любого клиента как совокупность признаков: $X_{1}, X_{2}..., X_{n}$. Где, например, $X_{1}$ — возраст, $X_{2}$ — доход, а $X_{3}$ — количество фотографий дорогих покупок в месяц (на практике в рамках подобной задачи Data Scientist работает с более чем сотней признаков). Каждому клиенту соответствует еще одна переменная — $Y$ с двумя возможными исходами: 1 (есть просроченные платежи) или 0 (нет просроченных платежей).
            p Совокупность всех данных $X$ и $Y$ — есть Data Set. Используя эти данные, Data Scientist создает модель $F$, подбирая и дорабатывая алгоритм машинного обучения
            h4 Подзаголовок в статье
            p Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст, ежемесячный доход, профессия, место проживания, образование и пр. В числе характеристик могут быть
            ul
              li и слабоструктурированные параметры, такие как данные 
              li из соцсетей или история покупок. Кроме того, данные можно 
              li обогатить информацией из внешних источников: курсы валют, 
              li данные кредитных бюро и т. п.
              li любого клиента как совокупность признаков
              li на практике в рамках подобной задачи Data Scientist работает с более 
            +quote
            h4 Подзаголовок в статье
            p Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциаль
            .article__tags-wrapper
              a.tag.article__tag(href="#") #Студентам
              a.tag.article__tag(href="#") #Сбер
              a.tag.article__tag(href="#") #Smart City
        .col-xl-4.offset-xxl-1
          h4.mb-30.mb-xxl-55 Материал по теме
          +card({
            picture: 'card-2.jpg',
          }).mx-0
          
      +comments
  +footer
