extends ../templates/template.pug
block content
  +header.header--static
  .container
    .article
      .row
        .col-xl-7
          .article__header
            +back
            h3.mb-25 Информационная справка по мониторингу СМИ В сфере ИИ
            .article__header-info
              .p.article__header-info-text.article__header-info-text--no-divider Период мониторинга
              .p.article__header-info-text.article__header-info-text--no-divider 17 апр 2022 — 17 апр 2023
            .article__tags-wrapper.article__header-tags
              a.tag.article__tag(href="#") #Студентам
              a.tag.article__tag(href="#") #Сбер
              a.tag.article__tag(href="#") #Smart City
      .row
        .col-xxl-7.col-xl-8
          p.sm.semi-transparent.lh-xl.mb-30.mb-xl-55 Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст
          .article__content
            img(src="./img/article-3.jpg", alt)
            p Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст, ежемесячный доход, профессия, место проживания, образование и пр. В числе характеристик могут быть и слабоструктурированные параметры, такие как данные из соцсетей или история покупок. Кроме того, данные можно обогатить информацией из внешних источников: курсы валют, данные кредитных бюро и т. п.
            p Машина видит любого клиента как совокупность признаков: $X_{1}, X_{2}..., X_{n}$. Где, например, $X_{1}$ — возраст, $X_{2}$ — доход, а $X_{3}$ — количество фотографий дорогих покупок в месяц (на практике в рамках подобной задачи Data Scientist работает с более чем сотней признаков). Каждому клиенту соответствует еще одна переменная — $Y$ с двумя возможными исходами: 1 (есть просроченные платежи) или 0 (нет просроченных платежей).
            p Совокупность всех данных $X$ и $Y$ — есть Data Set. Используя эти данные, Data Scientist создает модель $F$, подбирая и дорабатывая алгоритм машинного обучения
            ul
              li 5600 слабоструктурированные параметры, такие как данные 
              li 5600 слабоструктурированные параметры, такие как данные
            .article__docs
              h4 Документы
              .row
                .col-md-6
                  +document({
                    title: 'Название на языке оригинала'
                  })
                .col-md-6
                  +document({
                    title: 'Искусственный интеллект на развивающихся рынках. Возможности, тенденции и новые бизнес-модели'
                  })
  +footer
