extends ../templates/template.pug
block content
  +header.header--static.mb-40.mb-xl-65
  .container
    .article
      .row
        .col-xxl-7.col-xl-8
            h3.fw-light Редакция Национального портала по искусственному интеллекту
            a.article__contact.article__contact--phone(href="tel:+74956658899") +7 495 665 88 99
            a.article__contact.article__contact--email(href="mailto:mail@ainavigator.com") mail@ainavigator.com
    form.form.form--dark.mb-40.mb-xl-90(action="#", method="POST")
      .form__content
        .row
          .col-xl-3.offset-xl-1.col-lg-6
            h3.mb-35 Напишите нам
        .row
          .col-xl-3.offset-xl-1.col-lg-6.mb-30.mb-lg-0
            .form__item.form-group
              p.xs.form-label.font-secondary.mb-5 Имя
              input.input.form-control(type="text", placeholder="Введите")
            .form__item.form-group
              p.xs.form-label.font-secondary.mb-5 Фамилия
              input.input.form-control(type="text", placeholder="Введите")
            .form__item.form-group
              p.xs.form-label.font-secondary.mb-5 E-mail
              input.input.form-control(type="email", placeholder="Введите")
            .form__item.form-group
              p.xs.form-label.font-secondary.mb-5 Оценка удовлетворенности Порталом
              +select({
                placeholder: 'Выберите',
                evaluate: 'portal',
              }).select--default
            button.btn.btn-light.btn-lg.w-100.form__btn.form__btn--desktop(type="submit") Отправить
          .col-xl-5.offset-xl-1.col-lg-6
            .form__item.form-group
              p.xs.form-label.font-secondary.mb-5 Категория обращения
              input.input.form-control(type="text", placeholder="Введите")
            .form__item.form-group
              p.xs.form-label.font-secondary.mb-5 Сообщение
              textarea.input.input--textarea.form-control( placeholder="Введите")
            .form__file-wrapper
              +file({
                title: 'Загрузить файл'
              }).form__file-input
              .form__file filename.pdf
            .form-check.mt-20.mt-xl-40
              input#check1.form-check-input(type='checkbox' checked value='')
              label.form-check-label(for='check1') Я согласен с 
                a(href="#") политикой обработки персональных данных
            button.btn.btn-light.btn-lg.w-100.form__btn.form__btn--mobile.mt-30(type="submit") Отправить
  +footer
