extends ../templates/template.pug
block content
  +header.header--static.mb-xl-100
  .container
    +back
    .row.mb-50.mb-xl-100
      .col-xl-7
        h3.mb-30.mb-xl-50 Указы и постановления
        h4.mb-30.mb-xl-55 Указы
        +doc
        +doc
        +doc
        +doc
        +doc
        +doc
        +doc
        +doc
  +footer
