extends ../templates/template.pug
block content
  .main
    .main__logo
      .container-fluid
        +logo.logo--front
    .main__magic
      .main__front.main__section.main__section--active
        +header.header--front
        .main__section-content.main__front-wrapper
          .container.main__front-container
            .main__front-content
              .row.main__front-inner
                .col-xl-3.order-2.order-xl-1.d-flex
                  +center.center--new
                .col-xl-9.order-1.order-xl-2.d-flex
                  +hero
          .container.mb-md-20.mb-xxl-40.main__organizers
            .row.justify-content-center
              .col-xl.col-lg-3.col-md-3.col-sm-4.col-6
                +organizer({
                  logo: 'organizer-1.png',
                  title: 'ict.moscow',
                  link: 'https://ict.moscow/projects/ai/'
                })
              .col-xl.col-lg-3.col-md-3.col-sm-4.col-6
                +organizer({
                  logo: 'organizer-2.png',
                  title: 'airussia.online',
                  link: 'http://airussia.online/#titul'
                })
              .col-xl.col-lg-3.col-md-3.col-sm-4.col-6
                +organizer({
                  logo: 'organizer-3.png',
                  title: 'ai-russia.ru',
                  link: 'https://ai-russia.ru/'
                })
              .col-xl.col-lg-3.col-md-3.col-sm-4.col-6
                +organizer({
                  logo: 'organizer-4.png',
                  title: 'ai-russia.ru',
                  link: 'https://habr.com/ru/hub/artificial_intelligence/'
                })
              .col-xl.col-lg-3.col-md-3.col-sm-4.col-6
                +organizer({
                  logo: 'organizer-5.png',
                  title: 'ods.ai',
                  link: 'https://ods.ai/'
                })
              .col-xl.col-lg-3.col-md-3.col-sm-4.col-6
                +organizer({
                  logo: 'organizer-6.png',
                  title: 'raai.org',
                  link: 'http://www.raai.org/'
                })
              .col-xl.col-lg-3.col-md-3.col-sm-4.col-6
                +organizer({
                  logo: 'organizer-7.png',
                  title: 'nsud.info.gov.ru',
                  link: 'https://nsud.info.gov.ru/ifp/portals'
                })
              .col-xl.col-lg-3.col-md-3.col-sm-4.col-6
                +organizer({
                  logo: 'organizer-8.png',
                  title: 'hacks-ai.ru',
                  link: 'hacks-ai.ru'
                })
      .main__section.main__section--scroller
        .scroller
          .container
            .scroller__content
              +section({
                type: 'short',
                bg: 'section-3.mp4',
                title: 'Поддержка бизнеса',
                dscr: 'Поддержка  фондом «Сколково» пилотных проектов для тестирования технологий искусственного интеллекта <br><br>Поддержка Минпромторгом разработки аппаратно-программных комплексов для искусственного интеллекта',
                operator: 'Фонд «Сколково» , Министерство промышленности и торговли российской федерации',
                stats: [['stat-11.svg', 'Результаты за 2021 год', 'В 2021 году фондом «Сколково» запущены конкурсы на предоставление грантов от 20 до 100 миллионов рублей. Также Министерством промышленности и торговли Российской Федерации оказана поддержка 7 организациям, разрабатывающим аппаратно-программные комплексы для искусственного интеллекта'], ['stat-12.svg', 'План до 2024 года', 'Фондом  «Сколково» будут поддержаны не менее 50 организаций, внедряющих технологии искусственного интеллекта']]
              }).section--dark.scroller__item
              +section({
                type: 'short',
                bg: 'section-2.mp4',
                title: 'Поддержка разработчиков',
                dscr: 'Поддержка  фондом «Сколково» пилотных проектов для тестирования технологий искусственного интеллекта <br><br>Поддержка Минпромторгом разработки аппаратно-программных комплексов для искусственного интеллекта',
                operator: 'Фонд содействия развитию малых форм предприятий в научно-технической сфере',
                stats: [['stat-13.svg', 'Результаты за 2021 год', 'Запущены конкурсы на грантовую поддержку разработчиков решений в сфере искусственного интеллекта и открытых библиотек. Суммы грантов — от 4 до 20 миллионов рублей. Поддержку получили 140 команд, 8 разработчиков открытых библиотек, 100 проектов прошли акселерацию'], ['stat-14.svg', 'План до 2024 года', 'Более 1 200 разработчиков решений с использованием технологий искусственного интеллекта получат поддержку и пройдут акселерационные программы']]
              }).section--light.scroller__item
              +section({
                type: 'short',
                bg: 'section-3.mp4',
                title: 'Массивы данных',
                dscr: 'Разработка государственных массивов данных',
                operator: 'Правительство Российской Федерации',
                stats: [['stat-11.svg', 'Результаты за 2021 год', 'Утверждено и опубликовано 22 государственных массива данных от 6 федеральных органов исполнительной власти: Минсельхоза, ФНС, Минздрава, Рособрнадзора, Росавиации, Ространснадзора.  В Государственную думу внесён проект закона о предоставлении обезличенных данных государству с целью передачи разработчикам в сфере искусственного интеллекта'], ['stat-12.svg', 'План до 2024 года', '62 органа исполнительной власти подготовят по 2 размеченных массива данных для повышения эффективности государственного управления и разработки перспективных решений в области искусственного интеллекта']]
              }).section--dark.scroller__item
              +section({
                type: 'short',
                bg: 'section-2.mp4',
                title: 'Кадры',
                dscr: 'Разработка программ высшего образования по искусственному интеллекту и повышение квалификации преподавателей',
                operator: 'Министерство науки и высшего образования Российской Федерации',
                stats: [['stat-13.svg', 'Результаты за 2021 год', 'Разработано 40 программ магистратуры. На программы высшего образования в сфере информационных технологий за счёт федерального бюджета поступило более 80 000 человек'], ['stat-14.svg', 'План до 2024 года', 'Количество обучающихся и прошедших обучение по IT-специальностям вырастет до 500 000 человек, в российских вузах откроются 40 программ магистратуры и 10 программ бакалавриата, более 3 000 преподавателей повысят свою квалификацию']]
              }).section--light.scroller__item
              +section({
                type: 'short',
                bg: 'section-3.mp4',
                title: 'Сообщества',
                dscr: 'Организация хакатонов и лекций по искусственному интеллекту',
                operator: 'АНО «Россия ― страна возможностей»',
                stats: [['stat-11.svg', 'Результаты за 2021 год', 'Проведено 10 хакатонов и образовательных лекций по искусственному интеллекту в 10 регионах России: Нижнем Новгороде, Калининграде, Ставрополе, Великом Новгороде, Ростове-на-Дону, Перми, Чебоксарах, Санкт-Петербурге, Челябинске, Самаре. В хакатонах приняли участие более 1 500 человек из 289 команд'], ['stat-12.svg', 'План до 2024 года', 'Пройдёт 85 региональных (по 1 в каждом субъекте РФ), 24 окружных (по 3 в каждом из 8 федеральных округов) и 7 международных хакатонов. В рамках серии хакатонов запланировано 85 образовательных лекций для 8 500 слушателей (по 1 в каждом субъекте РФ), направленных на популяризацию искусственного интеллекта.']]
              }).section--dark.scroller__item
              +section({
                type: 'short',
                bg: 'section-2.mp4',
                title: 'Наука',
                dscr: 'Поддержка исследовательских центров, работающих в разных областях искусственного интеллекта и с этическими аспектами его применения',
                operator: 'АНО «Аналитический центр при Правительстве Российской Федерации»',
                stats: [['stat-13.svg', 'Результаты за 2021 год', 'Отобраны 6 исследовательских центров в сфере искусственного интеллекта на базе следующих образовательных и научных организаций: Сколтех, Иннополис, ИТМО, НИУ ВШЭ, МФТИ и ИСП РАН <br>Финансирование исследовательских центров в 2021 составило 900 млн рублей'], ['stat-14.svg', 'План до 2024 года', 'Будет поддержано не менее 6 исследовательских центров с общим объемом бюджетных средств в размере 5,4 млрд руб. Центрами будет привлечено внебюджетное софинансирование от индустриальных партнеров в размере не менее 30% от суммы гранта']]
              }).section--light.scroller__item
              +section({
                type: 'short',
                bg: 'section-3.mp4',
                title: 'Нормативное регулирование',
                dscr: 'Перспективная программа стандартизации',
                operator: 'Федеральное агентство по техническому регулированию и метрологии (Росстандарт)',
                stats: [['stat-11.svg', 'Результаты за 2021 год', 'Разработан 21 стандарт в сфере искусственного интеллекта. Совместно с техническим комитетом ТК-164 утверждена перспективная программа стандартизации'], ['stat-12.svg', 'План до 2024 года', 'Будут разработаны 102 национальных стандарта и 91 сопровождаемый международный стандарт. Направления: стандарты общего назначения, здравоохранение, автомобильный транспорт, воздушный транспорт, машиностроение, пространственные данные']]
              }).section--dark.scroller__item
      .main__section
        .container
          h3.mb-20.mb-xxl-50 Меры поддержки
          +filters({
            type: 'support'
          }).filters--new
          .slider.slider--cards
            .slider__content.slider__content--cards
              +card({
                picture: 'card-1.jpg',
              }).card--sm
              +card({
                picture: 'card-2.jpg',
              }).card--sm
              +card({
                picture: 'card-3.jpg',
              }).card--sm
              +card({
                picture: 'card-4.jpg',
              }).card--sm
              +card({
                picture: 'card-1.jpg',
              }).card--sm
              +card({
                picture: 'card-2.jpg',
              }).card--sm
              +card({
                picture: 'card-3.jpg',
              }).card--sm
              +card({
                picture: 'card-4.jpg',
              }).card--sm
      .main__section
        .main__content
          .container
            .row
              .col-xl-3.col-lg-4.col-6
                +content({
                  icon: 'content-1.svg',
                  title: 'Стратегия ИИ',
                  links: ['Национальная стратегия ИИ', 'Федеральный проект ИИ', 'Указы и Постановления', 'Зарубежная политика', 'Федеральные органы государственной власти']
                })
              .col-xl-3.col-lg-4.col-6
                +content({
                  icon: 'content-2.svg',
                  title: 'Внедрение',
                  links: ['Индекс готовности к внедрению ИИ', 'Цифровая трансформация органов власти', 'Искусственный интеллект против COVID-19', 'Грантовая поддержка внедрения технологий ИИ']
                })
              .col-xl-3.col-lg-4.col-6
                +content({
                  icon: 'content-3.svg',
                  title: 'R&D',
                  links: ['Исследовательские центры', 'Исследования в области ИИ', 'Научное сообщество', 'НИОКР и Патенты', 'Маркетинговое исследование Минпромторга']
                })
              .col-xl-3.col-lg-4.col-6
                +content({
                  icon: 'content-4.svg',
                  title: 'Развитие',
                  links: ['Грантовая поддержка разработчиков технологий ИИ', 'Быстрорастущие компании', 'Образование', 'Хакатоны и лекции']
                })
              .col-xl-3.col-lg-4.col-6
                +content({
                  icon: 'content-5.svg',
                  title: 'Регуляторика',
                  links: ['Стандартизация', 'Кодекс этики в сфере искусственного интеллекта', 'Экспериментальные правовые режимы', 'Концепция нормативного регулирования']
                })
              .col-xl-3.col-lg-4.col-6
                +content({
                  icon: 'content-6.svg',
                  title: 'Инфраструктура',
                  links: ['Поддержка разработчиков АПК', 'Центры коллективного пользования', 'Реестр государственных массивов данных']
                })
              .col-xl-3.col-lg-4.col-6
                +content({
                  icon: 'content-7.svg',
                  title: 'Сообщество',
                  links: ['Доверие общества к технологиям ИИ', 'Мероприятия по искусственному интеллекту', 'Форум «Этика искусственного интеллекта»', 'Региональные сообщества разработчиков']
                })
    +partners
    +footer
