extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="new-main.html", style="font-size: 20px;") New Main
          li(style="list-style: none;")
            a.d-block.my-20(href="new-page-1.html", style="font-size: 20px;") New Page 1
          li(style="list-style: none;")
            a.d-block.my-20(href="new-page-2.html", style="font-size: 20px;") New Page 2
          li(style="list-style: none;")
            a.d-block.my-20(href="new-page-3.html", style="font-size: 20px;") New Page 3
          li(style="list-style: none;")
            a.d-block.my-20(href="new-page-4.html", style="font-size: 20px;") New Page 4
          li(style="list-style: none;")
            a.d-block.my-20(href="new-login-stub.html", style="font-size: 20px;") New Login Stub
          li(style="list-style: none;")
            a.d-block.my-20(href="new-login.html", style="font-size: 20px;") New Login
          li(style="list-style: none;")
            a.d-block.my-20(href="new-registration.html", style="font-size: 20px;") New Registration
          li(style="list-style: none;")
            a.d-block.my-20(href="new-restore.html", style="font-size: 20px;") New Restore
          li(style="list-style: none;")
            a.d-block.my-20(href="new-password.html", style="font-size: 20px;") New Password
          li(style="list-style: none;")
            a.d-block.my-20(href="new-cabinet.html", style="font-size: 20px;") New Cabinet
            a.d-block.my-20(href="new-cabinet-edit.html", style="font-size: 20px;") New Cabinet Edit
          li(style="list-style: none;")
            a.d-block.my-20(href="new-contacts.html", style="font-size: 20px;") New Contacts
          li(style="list-style: none;")
            a.d-block.my-20(href="new-about.html", style="font-size: 20px;") New About
          li(style="list-style: none;")
            a.d-block.my-20(href="new-database.html", style="font-size: 20px;") New Database
          li(style="list-style: none;")
            a.d-block.my-20(href="new-article-document.html", style="font-size: 20px;") New Article Document
          li(style="list-style: none;")
            a.d-block.my-20(href="new-article-reference.html", style="font-size: 20px;") New Article Reference
          li(style="list-style: none;")
            a.d-block.my-20(href="new-article.html", style="font-size: 20px;") New Article
          li(style="list-style: none;")
            a.d-block.my-20(href="new-event.html", style="font-size: 20px;") New Event
          li(style="list-style: none;")
            a.d-block.my-20(href="new-media.html", style="font-size: 20px;") New Media
          li(style="list-style: none;")
            a.d-block.my-20(href="new-docs.html", style="font-size: 20px;") New Docs
          li(style="list-style: none;")
            a.d-block.my-20(href="new-monitor.html", style="font-size: 20px;") New Monitor
          li(style="list-style: none;")
            a.d-block.my-20(href="new-events.html", style="font-size: 20px;") New Events
          li(style="list-style: none;")
            a.d-block.my-20(href="new-map.html", style="font-size: 20px;") New Map
          li(style="list-style: none;")
            a.d-block.my-20(href="new-search.html", style="font-size: 20px;") New Search
          li(style="list-style: none;")
            a.d-block.my-20(href="404.html", style="font-size: 20px;") 404
            
          li.my-20(style="list-style: none;")  
          //div
            li(style="list-style: none;")
              a.d-block.my-20(href="navigator.html", style="font-size: 20px;") Navigator
            li(style="list-style: none;")
              a.d-block.my-20(href="database.html", style="font-size: 20px;") Database
            li(style="list-style: none;")
              a.d-block.my-20(href="article.html", style="font-size: 20px;") Article
            li(style="list-style: none;")
              a.d-block.my-20(href="article-document.html", style="font-size: 20px;") Article Document
            li(style="list-style: none;")
              a.d-block.my-20(href="article-reference.html", style="font-size: 20px;") Article Reference
            li(style="list-style: none;")
              a.d-block.my-20(href="article-media.html", style="font-size: 20px;") Article Media
            li(style="list-style: none;")
              a.d-block.my-20(href="article-research.html", style="font-size: 20px;") Article Research
            li(style="list-style: none;")
              a.d-block.my-20(href="login.html", style="font-size: 20px;") Login
            li(style="list-style: none;")
              a.d-block.my-20(href="registration.html", style="font-size: 20px;") Registration
            li(style="list-style: none;")
              a.d-block.my-20(href="restore.html", style="font-size: 20px;") Restore
              a.d-block.my-20(href="restore-new.html", style="font-size: 20px;") New Password
            li(style="list-style: none;")
              a.d-block.my-20(href="cabinet.html", style="font-size: 20px;") Cabinet
            li(style="list-style: none;")
              a.d-block.my-20(href="events.html", style="font-size: 20px;") Events
            li(style="list-style: none;")
              a.d-block.my-20(href="event.html", style="font-size: 20px;") Event
            li(style="list-style: none;")
              a.d-block.my-20(href="cabinet-new.html", style="font-size: 20px;") Cabinet New
            li(style="list-style: none;")
              a.d-block.my-20(href="profile-edit.html", style="font-size: 20px;") Profile Edit
            li(style="list-style: none;")
              a.d-block.my-20(href="section.html", style="font-size: 20px;") Section
            li(style="list-style: none;")
              a.d-block.my-20(href="docs.html", style="font-size: 20px;") Docs
            li(style="list-style: none;")
              a.d-block.my-20(href="about.html", style="font-size: 20px;") About
            li(style="list-style: none;")
              a.d-block.my-20(href="contacts.html", style="font-size: 20px;") Contacts
            li(style="list-style: none;")
              a.d-block.my-20(href="survey.html", style="font-size: 20px;") Survey
            li(style="list-style: none;")
              a.d-block.my-20(href="media.html", style="font-size: 20px;") Media
            li(style="list-style: none;")
              a.d-block.my-20(href="application.html", style="font-size: 20px;") Application
            li(style="list-style: none;")
              a.d-block.my-20(href="stub.html", style="font-size: 20px;") Stub
            li(style="list-style: none;")
              a.d-block.my-20(href="monitor.html", style="font-size: 20px;") Monitor
            li(style="list-style: none;")
              a.d-block.my-20(href="map.html", style="font-size: 20px;") Map
            li(style="list-style: none;")
              a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
            li(style="list-style: none;")
              a.d-block.my-20(href="front.html", style="font-size: 20px;") Front
            li(style="list-style: none;")
              a.d-block.my-20(href="map-new.html", style="font-size: 20px;") Map New
