extends ../templates/template.pug
block content
  +header.header--static
  .container
    h2.mb-30 Федеральный проект по искусственному интеллекту
    //h3.text-primary.mb-30 
    .row
      .col-xl-7.col-lg-9
        p.lh-lg.mb-0 Задача федерального проекта «Искусственный интеллект» — создать условия для того, чтобы предприятия и граждане использовали продукты и услуги, основанные на преимущественно отечественных технологиях искусственного интеллекта, обеспечивающих качественно новый уровень эффективности деятельности.
      .col-lg-3.offset-xl-2.mt-30.mt-lg-0
        a.link.link--anchor(href="#") Направления
        a.link.link--anchor(href="#") Операторы
        a.link.link--anchor(href="#") Показатели
    .divider
    h3.mb-35 Направления
    +direction({
      number: '01',
      title: 'Поддержка научных исследований и разработок'
    })
    +direction({
      number: '02',
      title: 'Разработка и развитие программного обеспечения, в том числе за счет поддержки стартапов и пилотных внедрений технологий ИИ'
    })
    +direction({
      number: '03',
      title: 'Создание комплексной системы правового регулирования в сфере искусственного интеллекта'
    })
    +direction({
      number: '04',
      title: 'Повышение доступности и качества данных, необходимых для развития технологий искусственного интеллекта'
    })
    +direction({
      number: '05',
      title: 'Повышение уровня обеспечения российского рынка технологий ИИ квалифицированными кадрами и уровня информированности населения о возможных сферах использования ИИ'
    })
    +direction({
      number: '06',
      title: 'Повышение доступности аппаратного обеспечения, необходимого для решения задач в области искусственного интеллекта'
    })
    h3.my-40.my-xl-100 Институты развития
    .row
      .col-sm-4.col-xl
        +institute({
          logo: 'institute-1.png',
          dscr: 'Подготавливаем заявку и разрабатываем все необходимые материалыСопровождаем на всех этапах получ'
        })
      .col-sm-4.col-xl
        +institute({
          logo: 'institute-2.png',
          dscr: 'Подготавливаем заявку и разрабатываем все необходимые материалы Сопровождаем на всех этапах получения гра'
        })
      .col-sm-4.col-xl
        +institute({
          logo: 'institute-3.png',
          dscr: 'Подготавливаем заявку и разрабатываем все необходимые материалы Сопровожд'
        })
      .col-sm-4.col-xl
        +institute({
          logo: 'institute-4.png',
          dscr: 'Подготавливаем заявку и разрабатываем все необходимые материалы Сопровождаем на всех этапах получ'
        })
      .col-sm-4.col-xl
        +institute({
          logo: 'institute-5.png',
          dscr: 'Подготавливаем заявку и разрабатываем все необходимые материалы Сопь'
        })
    +monitor({
      type: 'indicators'
    }).monitor--indicators
  +updates
  +partners
  +footer
