extends ../templates/template.pug
block content
  +header
  .wrapper
    .container.container--new
      +crumbs({
        links: ['Медиацентр', 'Разработка и развитие программного обеспечения, в том числе...']
      }).mb-15.mb-xl-35
      .article
        h2.sm-new.fw-medium.mb-25 Разработка и развитие программного обеспечения, в том числе за счет поддержки стартапов и пилотных внедрений технологий ИИ
        .article__header-info.mb-0
          .p.article__header-info-text 17 апр 2022
          .p.article__header-info-text.article__header-info-text--language English
        .row
          .col-xl-8
            .article__content.mt-40
              p Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст,
              p Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст,
              img(src="./img/article-1.jpg", alt)
              p Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст
              p Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст,
              h3 Подзаголовок в статье
              p Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст, ежемесячный доход, профессия, место проживания, образование и пр. В числе характеристик могут быть
              ul
                li и слабоструктурированные параметры, такие как данные 
                li из соцсетей или история покупок. Кроме того, данные можно 
                li обогатить информацией из внешних источников: курсы валют, 
                li данные кредитных бюро и т. п.
                li любого клиента как совокупность признаков
              +new-quote
          .col-xl-3.offset-xl-1
            .pt-40
              p.sm.mb-25 Статьи по теме
              +card-new({
                picture: 'card-2.jpg',
                type: 'article'
              }).mx-0
              +card-new({
                picture: 'card-3.jpg',
                type: 'article'
              }).mx-0
        .row
          .col-xl-8
            +comments
  +footer
