extends ../templates/template.pug
block content
  .main
    +header
    .container.container--wide.container--wide-mob
      +hero
      +pulse
    +categories
    +courses
    +news-list
    +research
    +centers
    +ethics
    +events-list
    +partners-list
    +footer
