extends ../templates/template.pug
block content
  .main
    +header
    .container.container--new.crumbs__wrapper
      +crumbs({
        links: ['Поддержка разработчиков']
      }).crumbs--cover
    +cover({
      title: 'НИОКР и Патенты',
      dscr: 'Инновации в сфере ИИ невозможны без научно-исследовательских и опытно-конструкторских работ (НИОКР). Изобретения, запатентованные исследовательскими центрами РФ, не только успешно применяются в отечественных ИИ-разработках, но и могут использоваться в других странах с авторским вознаграждением создателям технологии.',
      picture: 'cover-2.png'
    })
    .page
      .page__section
        .container.container--new
          .row
            .col-xl-5.col-md-6.d-flex
              .page__subcover-left
                .page__subcover-top
                  p.md.lh-md.mb-30.page__text Меры поддержки ИИ-стартапов и технологических команд направлены на создание новых и поддержку существующих малых инновационных предприятий на начальной стадии развития. 
                  p.md.lh-md.mb-30.page__text Гранты предоставляются Фондом содействия инновациям согласно утвержденным программам поддержки.
                .page__operator
                  p.md.page__operator-header Оператор: 
                  .page__logos-wrapper
                    .page__logo
                      img.page__logo-img(src="./img/page-logo-1.svg", alt)
            .col-md-6.offset-xl-1.d-flex
              .page__activity
                h3.md.page__subheader Направления деятельности
                .row
                  .col-xl-4
                    +activity({
                      dot: 1,
                      title: 'Конкурс «Старт-ИИ» — создание новых и поддержка существующих узкоспециализированных малых предприятий в сфере ИИ'
                    })
                  .col-xl-4
                    +activity({
                      dot: 2,
                      title: 'Конкурс «Развитие-ИИ» — поддержка предприятий с положительной деловой репутацией и опытом продаж наукоемкой продукции'
                    })
                  .col-xl-4
                    +activity({
                      dot: 3,
                      title: 'Конкурс «Коммерциализация-ИИ» — поддержка малых предприятий с положительной деловой репутацией, которые планируют внедрение собственных продуктов в сфере ИИ'
                    })
                  .col-xl-4
                    +activity({
                      dot: 4,
                      title: 'Конкурс «Акселерация-ИИ» — создание новых и поддержка существующих малых предприятий, стремящихся разработать новую продукцию с использованием ИИ'
                    })
                  .col-xl-4
                    +activity({
                      dot: 5,
                      title: 'Конкурс «Код-ИИ» — создание новых и развитие существующих открытых библиотек в сфере ИИ'
                    })
      .container.container--new.mb-xl-30
        .row
          .col-xl-4.col-sm-6
            +project-new({
              logo: 'uni-1.png',
              tags: ['R&D', 'Внедрение']
            })
          .col-xl-4.col-sm-6
            +project-new({
              logo: 'uni-2.png',
              tags: ['R&D', 'Внедрение']
            })
          .col-xl-4.col-sm-6
            +project-new({
              logo: 'uni-3.png',
              tags: ['R&D', 'Внедрение']
            })
          .col-xl-4.col-sm-6
            +project-new({
              logo: 'uni-4.png',
              tags: ['R&D', 'Внедрение']
            })
          .col-xl-4.col-sm-6
            +project-new({
              logo: 'uni-5.png',
              tags: ['R&D', 'Внедрение']
            })
          .col-xl-4.col-sm-6
            +project-new({
              logo: 'uni-6.png',
              tags: ['R&D', 'Внедрение']
            })
      .container.container--new
        .page__section
          +point
        .page__section
          .row
            .col-md-5
              h3.md.mob-sm Исследования в области искусственного интеллекта
            .col-md-6.offset-xl-1
              p.mob-sm Сегодня больше ученых и разработчиков обращаются к теме ИИ. Растет востребованность научных результатов, уменьшая разрыв между теорией и практикой. Разработчики отмечают, что интервал между докладом на конференции уровня А* и внедрением представленных ИИ-решений в IT-продукты сократился до 3 месяцев.
              p.mob-sm Россия демонстрирует высокую научную активность и рекордный рост числа публикаций в сфере ИИ на международной арене. Российский бизнес ― полноправный участник научной работы в сфере ИИ. Исследовательские центры в области ИИ — флагманы исследований и разработок.
        .page__section
          h3.md.mb-30.mb-xl-50.mob-sm Прогнозируемые результаты
          .row
            .col-md-5.col-xl-4
              .page__card
                .page__card-picture
                  img.page__card-picture-img(src="./img/page-card-1.jpg", alt)
                p.sm.mob-xs Ежегодное число российских научных публикаций по искусственному интеллекту выросло в 2,6 раза по сравнению с периодом 2011-2015 гг. [при среднемировом значении 1,3] 
                a.link-arrow.link-arrow--dark(href="#") Подробно
            .col-md-5.col-xl-6.offset-xl-2.offset-md-1
              .page__results
                .page__year 2022 год
                .row
                  .col-xl-4
                    +number({
                      number: '296',
                      dscr: 'предприятий получат поддержку'
                    })
                  .col-xl-4
                    +number({
                      number: '300',
                      dscr: 'участников примут участие в акселерационной программе'
                    })
                  .col-xl-4
                    +number({
                      number: '22',
                      dscr: 'команды разработчиков открытых библиотек получат поддержку'
                    })
              .page__results
                .page__year 2023 год
                .row
                  .col-xl-4
                    +number({
                      number: '137',
                      dscr: 'предприятий получат поддержку'
                    })
                  .col-xl-4
                    +number({
                      number: '150',
                      dscr: 'участников примут участие в акселерационной программе'
                    })
                  .col-xl-4
                    +number({
                      number: '18',
                      dscr: 'команды разработчиков открытых библиотек получат поддержку'
                    })
              .page__results
                .page__year к 2024 году
                .row
                  .col-xl-4
                    +number({
                      number: '569',
                      dscr: 'предприятий получат поддержку'
                    })
                  .col-xl-4
                    +number({
                      number: '580',
                      dscr: 'участников примут участие в акселерационной программе'
                    })
                  .col-xl-4
                    +number({
                      number: '66',
                      dscr: 'команды разработчиков открытых библиотек получат поддержку'
                    })
        .page__section
          h3.md.mb-25.mb-xl-40.mob-sm Ссылки по теме
          .row.page__links
            .col-xl-4.d-flex.page__links-item
              +theme({
                number: '01',
                title: 'Конкурсный отбор пилотных проектов апробации технологий ИИ'
              })
            .col-xl-4.d-flex.page__links-item
              +theme({
                number: '03',
                title: '«Сколково» поддержит развитие искусственного интеллекта в России'
              })
        .page__section
          +news-list({
            title: 'Статьи по теме',
            link: 'no'
          }).news-list--page
    +footer
    +modal({
      type: 'uni'
    }).modal--newest.modal--newest-wide#uni
