extends ../templates/template.pug
block content
  +header
  .wrapper
    .container.container--new
      +crumbs({
        links: ['Указы и постановления']
      }).mb-15.mb-xl-35
      h2.sm-new.fw-medium.mb-25 Указы и постановления
      +sorting-new
      .row
        .col-xl-8
          h3.md.mb-25.mb-xl-40 Указы
          +doc-new({
            title: 'Конкурсный отбор пилотных проектов апробации технологий ИИ'
          })
          +doc-new({
            title: 'Указ Президента РФ от 08.11.2021 № 633 «Об утверждении Основ государственной политики в сфере стратегического планирования в Российской Федерации»'
          })
          +doc-new({
            title: 'Конкурсный отбор пилотных проектов апробации технологий ИИ'
          })
          h3.md.mt-40.mb-25.mb-xl-40 Постановления, распоряжения
          +doc-new({
            title: 'Конкурсный отбор пилотных проектов апробации технологий ИИ'
          })
          +doc-new({
            title: 'Указ Президента РФ от 08.11.2021 № 633 «Об утверждении Основ государственной политики в сфере стратегического планирования в Российской Федерации»'
          })
          +doc-new({
            title: 'Конкурсный отбор пилотных проектов апробации технологий ИИ'
          })
  +footer
