extends ../templates/template.pug
block content
  +header
  .wrapper
    .container.container--new
      +crumbs({
        links: ['Мероприятия']
      }).mb-30.mb-xl-50
      h2.sm-new.mb-25 Мероприятия
      .row
        .col-xl-8
          p.sm.mb-25 Мероприятия по ИИ объединяют лучших профессионалов отрасли для обсуждения актуальных проблем и обмена опытом. В 2021 году в ключевых мероприятиях по ИИ приняли участие более 10 000 человек. Партнерами форумов и конференций стали ведущие российские компании: Третье Мнение, фонд Сколково, Яндекс Толока.
          p.sm.mb-25 С помощью фильтров ниже можно получить информацию о прошедших или предстоящих мероприятиях и их организаторах. Также можно осуществить сортировку по дате, типу мероприятия или его специализации.
          p.sm.mb-25 Пример: будущие конференции, дата — 22.03.2022, организатор — МГППУ, технологии ИИ — перспективные методы ИИ, тип мероприятия — конференция. В этом случае будет предоставлена информация о конкретной конференции «Нейрокомпьютеры и их применение», которая проводится в указанную дату.
          p.sm.mb-0 Вы можете заполнить меньшее количество фильтров, например, указать только тип мероприятия — конференции и увидеть перечень всех будущих конференций в 2022 году.
      +filters({
        type: 'events'
      }).mt-30.mt-xl-55.mb-20
      ul.nav.nav-tabs.nav-tabs--new.nav-tabs--events(role='tablist')
        li.nav-item(role='presentation')
          button#current-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#current' type='button' role='tab' aria-controls='current' aria-selected='true') Текущие
        li.nav-item(role='presentation')
          button#prev-tab.nav-link(data-bs-toggle='tab' data-bs-target='#prev' type='button' role='tab' aria-controls='prev' aria-selected='false') Прошедшие
      .tab-content.tab-content--events.mt-20.mt-xl-40
        #current.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='current-tab')
          .events-list
            .events-list__slider.events-list__slider--wide
              +event-item({
                picture: 'event-item-1.svg',
                dscr: 'Ведущая независимая открытая конференция по искусственному интеллекту в России.'
              })
              +event-item({
                picture: 'event-item-2.svg',
                dscr: 'Серия мероприятий по искусственному интеллекту и анализу данных, проводимая ведущими российскими и международными компаниями, лидерами по разработке и применению технологий искусственного интеллекта.'
              })
              +event-item({
                picture: 'event-item-3.png',
                dscr: 'Форум стал первой в России специализированной площадкой, где разработчики и пользователи ИИ-технологий обсудили шаги по эффективному внедрению этики искусственного интеллекта в приоритетных отраслях.'
              })
              +event-item({
                picture: 'event-item-1.svg',
                dscr: 'Ведущая независимая открытая конференция по искусственному интеллекту в России.'
              })
              +event-item({
                picture: 'event-item-2.svg',
                dscr: 'Серия мероприятий по искусственному интеллекту и анализу данных, проводимая ведущими российскими и международными компаниями, лидерами по разработке и применению технологий искусственного интеллекта.'
              })
              +event-item({
                picture: 'event-item-3.png',
                dscr: 'Форум стал первой в России специализированной площадкой, где разработчики и пользователи ИИ-технологий обсудили шаги по эффективному внедрению этики искусственного интеллекта в приоритетных отраслях.'
              })
          .events-list
            .events-list__slider
              +event-item({
                picture: 'cover-1.jpg',
                dscr: 'Ведущая независимая открытая конференция по искусственному интеллекту в России.'
              })
              +event-item({
                picture: 'event-item-1.svg',
                dscr: 'Серия мероприятий по искусственному интеллекту и анализу данных, проводимая ведущими российскими и международными компаниями, лидерами по разработке и применению технологий искусственного интеллекта.'
              })
              +event-item({
                picture: 'cover-2.jpg',
                dscr: 'Форум стал первой в России специализированной площадкой, где разработчики и пользователи ИИ-технологий обсудили шаги по эффективному внедрению этики искусственного интеллекта в приоритетных отраслях.'
              })
              +event-item({
                picture: 'event-item-2.svg',
                dscr: 'Ведущая независимая открытая конференция по искусственному интеллекту в России.'
              })
              +event-item({
                picture: 'event-item-1.svg',
                dscr: 'Серия мероприятий по искусственному интеллекту и анализу данных, проводимая ведущими российскими и международными компаниями, лидерами по разработке и применению технологий искусственного интеллекта.'
              })
              +event-item({
                picture: 'event-item-3.png',
                dscr: 'Форум стал первой в России специализированной площадкой, где разработчики и пользователи ИИ-технологий обсудили шаги по эффективному внедрению этики искусственного интеллекта в приоритетных отраслях.'
              })
              +event-item({
                picture: 'event-item-1.svg',
                dscr: 'Серия мероприятий по искусственному интеллекту и анализу данных, проводимая ведущими российскими и международными компаниями, лидерами по разработке и применению технологий искусственного интеллекта.'
              })
              +event-item({
                picture: 'event-item-3.png',
                dscr: 'Форум стал первой в России специализированной площадкой, где разработчики и пользователи ИИ-технологий обсудили шаги по эффективному внедрению этики искусственного интеллекта в приоритетных отраслях.'
              })
          .text-center
            a.btn.btn-primary.btn-violet.btn-lg-new(href="#") Показать еще
        #prev.tab-pane.fade(role='tabpanel' aria-labelledby='prev-tab')
          .events-list
            .events-list__slider.events-list__slider--wide
              +event-item({
                picture: 'event-item-2.svg',
                dscr: 'Ведущая независимая открытая конференция по искусственному интеллекту в России.'
              })
              +event-item({
                picture: 'event-item-1.svg',
                dscr: 'Серия мероприятий по искусственному интеллекту и анализу данных, проводимая ведущими российскими и международными компаниями, лидерами по разработке и применению технологий искусственного интеллекта.'
              })
              +event-item({
                picture: 'event-item-3.png',
                dscr: 'Форум стал первой в России специализированной площадкой, где разработчики и пользователи ИИ-технологий обсудили шаги по эффективному внедрению этики искусственного интеллекта в приоритетных отраслях.'
              })
              +event-item({
                picture: 'event-item-2.svg',
                dscr: 'Ведущая независимая открытая конференция по искусственному интеллекту в России.'
              })
              +event-item({
                picture: 'event-item-1.svg',
                dscr: 'Серия мероприятий по искусственному интеллекту и анализу данных, проводимая ведущими российскими и международными компаниями, лидерами по разработке и применению технологий искусственного интеллекта.'
              })
              +event-item({
                picture: 'event-item-3.png',
                dscr: 'Форум стал первой в России специализированной площадкой, где разработчики и пользователи ИИ-технологий обсудили шаги по эффективному внедрению этики искусственного интеллекта в приоритетных отраслях.'
              })
      .mt-40.mt-xl-80
        h3.md Отчеты о прошедших мероприятиях
        .slider.mt-30.mt-xl-55
          .slider__content.slider__content--new
            +card-new.card-new--slider.slider__item
            +card-new.card-new--slider.slider__item
            +card-new.card-new--slider.slider__item
            +card-new.card-new--slider.slider__item
            +card-new.card-new--slider.slider__item
            +card-new.card-new--slider.slider__item
      .mt-40.mt-xl-80.mb-50.mb-xl-100
        h3.md Отчеты о прошедших мероприятиях
        .slider.mt-30.mt-xl-55
          .slider__content.slider__content--new.slider__content--active
            +winner({
              picture: 'person-1.jpg',
              name: 'Викторов Игорь Валентинович'
            }).slider__item
            +winner({
              picture: 'person-2.jpg',
              name: 'Викторов Игорь Валентинович'
            }).slider__item
            +winner({
              picture: 'person-1.jpg',
              name: 'Викторов Игорь Валентинович'
            }).slider__item
            +winner({
              picture: 'person-2.jpg',
              name: 'Викторов Игорь Валентинович'
            }).slider__item
            +winner({
              picture: 'person-1.jpg',
              name: 'Викторов Игорь Валентинович'
            }).slider__item
            +winner({
              picture: 'person-2.jpg',
              name: 'Викторов Игорь Валентинович'
            }).slider__item
  +footer
