extends ../templates/template.pug
block content
  +header.header--static
  .container
    +back
    h2.mb-30 Регистрация
    form.form.form--validation(action="#", method="POST", name="registration")
      .row.flex-column-reverse.flex-md-row.justify-content-between
        .col-xxl-3.col-md-5
          .form__item.form-group
            p.xs.form-label.font-secondary.mb-5 Имя
            input.input.form-control(type="text", required, placeholder="Введите")
          .form__item.form-group
            p.xs.form-label.font-secondary.mb-5 Фамилия
            input.input.form-control(type="text", required, placeholder="Введите")
          .form__item.form-group
            p.xs.form-label.font-secondary.mb-5 E-mail
            input.input.form-control(type="text", required, placeholder="Введите")
          .form__item.form-group
            p.xs.form-label.font-secondary.mb-5 Никнейм в Telegram
            input.input.form-control(type="text", placeholder="Введите")
          .form__item.form-group
            p.xs.form-label.font-secondary.mb-5 Телефон
            input.input.input--phone.form-control(type="text", placeholder="+_ (___) ___ - __ - __")
          .form__item.form-group
            p.xs.form-label.font-secondary.mb-5 Город
            input.input.form-control(type="text", placeholder="Введите")
          .form__item.form-group
            p.xs.form-label.font-secondary.mb-5 Создайте пароль
            input.input.form-control(type="password")
          .form__item.form-group
            p.xs.form-label.font-secondary.mb-5 Подтвердите пароль
            input.input.form-control(type="password")
        .col-xxl-4.col-md-5
          p.text-gray Зарегистрируйтесь, чтобы получить доступ к закрытым разделам сайта и создать персональные настройки. Это займет 2 минуты.
          +auth.my-30.mt-xl-50
      .row
        .col-xxl-6
          .form-check.mb-30
            input#check2.form-check-input(type='checkbox' checked value='')
            label.form-check-label(for='check2') Нажимая кнопку «Зарегистрироваться», я принимаю условия 
              a(href="https://www.scienceid.net/agreement", target="_blank") пользовательского соглашения 
              | и даю своё согласие  на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных»
          .form-check.my-30
            input#check1.form-check-input(type='checkbox' checked value='')
            label.form-check-label(for='check1') Я даю 
              a(href="https://www.scienceid.net/agreement", target="_blank") согласие 
              | на получение информационных рассылок от ai.gov.ru
          button.btn.btn-primary.btn-md(type="submit") Зарегистрироваться
      p.sm.fw-semibold.mt-30.mb-40.mb-xl-80 Уже есть аккаунт? 
        a.text-decoration-none(href="#") Войти
  +footer
