extends ../templates/template.pug
block content
  +header.header--static.mb-40.mb-xl-70
  .overflow-hidden
    .container
      .row.even
        .col-xl-7
          .article.even__content.mt-0.mb-30.mb-xl-45
            .article__content.mt-0
              h2.mb-30 Искусственный интелект
              p.lh-lg Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст
              p.lh-lg Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. Задача — определить, будет ли новый потенциальный клиент вовремя вносить платежи. По каждому клиенту банк обладает совокупностью определенных черт/признаков: пол, возраст
            +auth({
              type: 'custom',
              header: 'Поделиться в соц.сетях',
              socials: ['tg', 'fb', 'vk', 'tw']
            }).auth--sm.mt-40.mt-xl-60
        .col-xxl-4.offset-xxl-1.col-xl-5
          +details.mb-40
      h4.mb-30.mb-xl-50 Заголовок
      .row.mb-30.mb-xl-50
        .col-xl-4.col-md-6.d-flex
          +university({
            logo: 'uni-1.png',
            title: 'Сколковский институт науки и технологий/Исследовательский Центр на базе Сколково',
            address: 'Москва. ул. Нобеля, 3,'
          })
        .col-xl-4.col-md-6.d-flex
          +university({
            logo: 'uni-2.png',
            title: 'Открытая лаборатория искусственного интеллекта/Исследовательский Центр на базе МФТИ',
            address: 'г. Долгопрудный, Научный переулок, д.4, корпус «Физтех.Цифра»'
          })
        .col-xl-4.col-md-6.d-flex
          +university({
            logo: 'uni-3.png',
            title: 'Институт системного программирования им. В. П. Иванникова Российской академии наук/Исследовательский Центр на базе ИСП РАН',
            address: 'Москва. ул. Нобеля, 3,'
          })
        .col-xl-4.col-md-6.d-flex
          +university({
            logo: 'uni-4.png',
            title: 'Сколковский институт науки и технологий/Исследовательский Центр на базе Сколково',
            address: 'Москва. ул. Нобеля, 3,'
          })
        .col-xl-4.col-md-6.d-flex
          +university({
            logo: 'uni-5.png',
            title: 'Санкт-Петербургский национальный исследовательский университет информационных технологий, механики и оптики/Исследовательский Центр на базе НИУ ИТМО',
            address: 'г. Долгопрудный, Научный переулок, д.4, корпус «Физтех.Цифра»'
          })
        .col-xl-4.col-md-6.d-flex
          +university({
            logo: 'uni-6.png',
            title: 'Институт системного программирования им. В. П. Иванникова Российской академии наук/Исследовательский Центр на базе ИСП РАН',
            address: 'Москва. ул. Нобеля, 3,'
          })
      h3.my-20 Прогнозируемые результаты
      p.mb-30 технологии искусственного интелекта позволят увеличить эффективность цифровой трансформации
      .row
        .col-lg-4.d-flex.advantage__wrapper
          +advantage({
            icon: 'advantage-1.svg',
            type: 'sm',
            header: 'Прогнозируемые результаты',
            content: 'технологии искусственного интелекта позволят увеличить эффективность цифровой трансформации'
          })
        .col-lg-4.d-flex.advantage__wrapper
          +advantage({
            icon: 'advantage-2.svg',
            header: 'В 10 раз',
            content: 'Увеличить скорость получения госуслуг с внедрением ИИ'
          })
        .col-lg-4.d-flex.advantage__wrapper
          +advantage({
            icon: 'advantage-3.svg',
            header: 'В 5 раз',
            content: 'Увеличится эффективность обеспечения кибербезопасности'
          })
      +parameters
      .row
        .col-lg-4.d-flex.accomplishment__wrapper
          +accomplishment({
            accent: 'Россия входит в ТОР-30 стран ',
            text: 'по уровню развития искусственного интелекта'
          }).accomplishment--gray
        .col-lg-4.d-flex.accomplishment__wrapper
          +accomplishment({
            accent: '28 российских университетов с техническими специальностями по направлению ИИ ',
            text: 'попали в число лучших вузов по версии World University Rankings 2022'
          }).accomplishment--violet
        .col-lg-4.d-flex.accomplishment__wrapper
          +accomplishment({
            accent: 'Москва вошла в тройку лучших городов мира ',
            text: 'по инновационным решениям в борьбе с COVID - 19'
          }).accomplishment--green
      +monitor({
        type: 'stats'
      }).monitor--stats
      .slider.mb-50.mb-xl-100
        .slider__content
          +note({
            dscr: 'Паспорт федерального проекта «Искусственный интеллект» утвержден на заседании Президиума комиссии по цифровому развитию, использованию...',
            author: true
          }).slider__item
          +note({
            dscr: 'Паспорт федерального проекта «Искусственный интеллект» утвержден на заседании Президиума комиссии'
          }).slider__item
          +note({
            dscr: 'Паспорт федерального проекта «Искусственный интеллект» утвержден ',
            author: true
          }).slider__item
          +note({
            dscr: 'Паспорт федерального проекта «Искусственный интеллект» утвержден на заседании Президиума комиссии'
          }).slider__item
          +note({
            dscr: 'Паспорт федерального проекта «Искусственный интеллект» утвержден на заседании Президиума комиссии по цифровому развитию, использованию...',
            author: true
          }).slider__item
          +note({
            dscr: 'Паспорт федерального проекта «Искусственный интеллект» утвержден на заседании Президиума комиссии'
          }).slider__item
          +note({
            dscr: 'Паспорт федерального проекта «Искусственный интеллект» утвержден ',
            author: true
          }).slider__item
          +note({
            dscr: 'Паспорт федерального проекта «Искусственный интеллект» утвержден на заседании Президиума комиссии'
          }).slider__item
  +footer
  +modal({
    type: 'university'
  }).modal--light#university
