.view {
  display: flex;

  @include media-breakpoint-down(lg) {
    display: none;
  }

  &__btn {
    margin-right: 24px;
    width: 24px;
    height: 24px;
    opacity: .3;

    @include transition;

    &:last-child {
      margin-right: 0;
    }

    &--tiles {
      background: url(../img/view-tiles.svg) no-repeat center;
      background-size: contain;
    }

    &--rows {
      background: url(../img/view-rows.svg) no-repeat center;
      background-size: contain;
    }

    &--active {
      opacity: 1;
    }
  }
}
