mixin front(data)
  .front&attributes(attributes)
    +header
    .container
      .front__content
        .row
          .col-lg-7.d-flex
            .front__left
              .front__left-top
                h2.mb-30 Национальный портал про Искусственный интеллект
                p Проводник в экосистему Ai для бизнеса и граждан.
              +search
          .col-lg-5.d-flex
            .front__right
              .front__media
                .front__media-content
                  .front__animation
                    img.front__animation-picture(src="./img/front-animation.gif", alt)
                  a.front__media-btn(href="#")
              p.front__right-text Все изменения законодательной и практической базы в едином пространстве. Анализируем стремительно меняющуюся сферу ИИ в режиме реального времени
