mixin sCopmanieBanner(data)
  .sCopmanieBanner&attributes(attributes)
    .container
      .sCopmanieBanner__banner.bg-wrap
        img(src='./img/banner-bg.png').picture-bg
        p Искусственный интеллект&nbsp;&mdash; главная технология XXI века