mixin accomplishment(data)
  a.accomplishment(href="#")&attributes(attributes)
    .accomplishment__content
      p.accomplishment__title.mb-0
        span.accomplishment__accent= data.accent
        span= data.text