mixin pulse(data)
  .pulse&attributes(attributes)
    a.pulse__header(href="#") AI монитор
    .pulse__content
      .pulse__slider.ticker.ticker--arrows
        +indicator({
          number: '12 550',
          direction: 'positive',
          change: '+4%',
          dscr: 'российских организаций используют технологии искусственного интеллекта'
        }).pulse__item
        +indicator({
          number: '12 550',
          direction: 'positive',
          change: '+4%',
          dscr: 'организаций используют технологии искусственного интеллекта'
        }).pulse__item
        +indicator({
          number: '12 550',
          direction: 'negative',
          change: '-1%',
          dscr: 'российских организаций используют'
        }).pulse__item
        +indicator({
          number: '1 588 856',
          direction: 'positive',
          change: '+5698',
          dscr: 'российских организаций используют технологии искусственного'
        }).pulse__item
        +indicator({
          number: '12 550',
          direction: 'negative',
          change: '-1%',
          dscr: 'российских организаций используют'
        }).pulse__item
        +indicator({
          number: '25',
          direction: 'negative',
          change: '-1%',
          dscr: 'российских организаций используют'
        }).pulse__item
        +indicator({
          number: '12 550',
          direction: 'positive',
          change: '+4%',
          dscr: 'российских организаций используют технологии искусственного интеллекта'
        }).pulse__item
        +indicator({
          number: '12 550',
          direction: 'positive',
          change: '+4%',
          dscr: 'организаций используют технологии искусственного интеллекта'
        }).pulse__item
        +indicator({
          number: '12 550',
          direction: 'negative',
          change: '-1%',
          dscr: 'российских организаций используют'
        }).pulse__item
        +indicator({
          number: '1 588 856',
          direction: 'positive',
          change: '+5698',
          dscr: 'российских организаций используют технологии искусственного'
        }).pulse__item
        +indicator({
          number: '12 550',
          direction: 'negative',
          change: '-1%',
          dscr: 'российских организаций используют'
        }).pulse__item
        +indicator({
          number: '25',
          direction: 'negative',
          change: '-1%',
          dscr: 'российских организаций используют'
        }).pulse__item
