mixin support(data)
  .support&attributes(attributes)
    .container
      .row
        .col-xl-6
          h2.text-white.mb-30.mb-xxl-100.pb-xl-20 Поддержка
          .support__item Гранты <br>для разработчиков
          .support__item Поддержка <br>стартапов
          .support__item Финансирование <br>бизнеса
          .support__item Инвестиционная привлекательность <br>индустрии.  
