mixin sHeaderBlock(data)
  .sHeaderBlock&attributes(attributes)
    .container
      .row
        .col-lg-6
          p.sHeaderBlock__headline #[span #]антисанкц#[span ии]
          h1 Меры развития российского искусственного интеллекта 2022
          .sHeaderBlock__linkWrap
            a.sHeaderBlock__tg-link(href="#") #[img(src="../img/telegram-stroke.svg", alt)] Подробнее в телеграм канале
            a.sHeaderBlock__btn(href="#") Предложить меру
        .col-lg-6.ml-auto 
          .sHeaderBlock__wrap
            span Опрос
            p Необходимые меры поддержки доступности вычислительных ресурсов для&nbsp;ИИ
            a.btn Пройти
            img.circles(src="./img/circles.svg")
            img.lamp(src="./img/lamp.svg")
          ul.government
            li 
              img(src='./img/top-nav-1.png')
            li 
              img(src='./img/top-nav-2.png')
            li 
              img(src='./img/top-nav-3.png')
            li 
              img(src='./img/top-nav-4.png')