mixin details(data)
  .details&attributes(attributes)
    h5.text-primary.mb-25 Федеральный проект «Искусственный интелект»
    .details__content.even__scroll
      ul.square.mb-0
        li Трансформация системы образования
        li Поддержка технологических предпринимателей
        li Формирования технологических сообществ
        li Цифровизация федеральных органов исполнительной власти
        li Развитие науки
        li Трансформация системы образования
        li Поддержка технологических предпринимателей
        li Формирования технологических сообществ
        li Цифровизация федеральных органов исполнительной власти
        li Развитие науки
        li Трансформация системы образования
        li Поддержка технологических предпринимателей
        li Формирования технологических сообществ
        li Цифровизация федеральных органов исполнительной власти
        li Развитие науки
        li Трансформация системы образования
        li Поддержка технологических предпринимателей
        li Формирования технологических сообществ
        li Цифровизация федеральных органов исполнительной власти
        li Развитие науки
        li Трансформация системы образования
        li Поддержка технологических предпринимателей
        li Формирования технологических сообществ
        li Цифровизация федеральных органов исполнительной власти
        li Развитие науки
        li Трансформация системы образования
        li Поддержка технологических предпринимателей
        li Формирования технологических сообществ
        li Цифровизация федеральных органов исполнительной власти
        li Развитие науки