mixin winner(data)
  a.winner(href="#")&attributes(attributes)
    .winner__top
      .winner__picture
        img.winner__picture-img(src="./img/" + data.picture, alt)
      .winner__top-content
        p.lg-new Викторов Игорь Валентинович
        .winner__occupation Студент
    .winner__content
      .winner__place 1 место
      p.lg-new Разработка и развитие программного обеспечения
      p.sm ПАО «Газпром добыча Надым»